*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    margin-top: 20px;
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    
    
}
/* the under line  */

h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 60%;
    height: 4px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    transform: translateX(-50%);
    border-radius: 5px;
}
.container{
    max-width: 500px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30vh;
    border-radius: 10px;
  
}
/* whrre your mood will be store */
.space{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.space p{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 15px;
    border-radius: 10px;
}